In [1]:
import pandas as pd
import numpy as np

file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [2]:
unique_players_df = pd.DataFrame(purchase_data.drop_duplicates(subset=["SN"]))

In [3]:
unique_player_count = len(purchase_data["SN"].unique())
player_count_total = pd.DataFrame({"Number of Players": [unique_player_count]})
player_count_total

   Number of Players
0                576

In [4]:
unique_items = len(purchase_data["Item ID"].unique())

In [5]:
average_price = (purchase_data["Price"].mean())
average_price_format = ("${:,.2f}".format(average_price))

In [6]:
number_of_purchases = len(purchase_data)

In [7]:
total_revenue = (purchase_data["Price"].sum())
total_revenue_format = ("${:,.2f}".format(total_revenue))

In [8]:
purchase_analysis_df = pd.DataFrame({"Unique Players": [unique_player_count], 
                                  "Unique Items": [unique_items], 
                                  "Average Price": [average_price_format], 
                                  "Number of Purchases": [number_of_purchases],
                                  "Total Revenue": [total_revenue_format]})
purchase_analysis_df

,Unique Players,Unique Items,Average Price,Number of Purchases,Total Revenue
0,576,183,$3.05,780,"$2,379.77"

In [9]:
gender_type_df = unique_players_df.groupby(["Gender"])
total_player_count = gender_type_df["Gender"].count()
total_player_fraction = gender_type_df["Gender"].count() / unique_player_count

In [10]:
gender_demographics = pd.DataFrame({"Total Count": total_player_count,
                                   "Percent of Players": (((total_player_fraction)*100).round(2).astype(str) + '%')})

In [11]:
gender_demographics

                       Total Count Percent of Players
Gender
Female                          81             14.06%
Male                           484             84.03%
Other / Non-Disclosed           11              1.91%