In [55]:
import pandas as pd
import numpy as np

file_to_load = "../resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [56]:
all_data_df = pd.DataFrame(purchase_data)

In [57]:
unique_players_df = pd.DataFrame(purchase_data.drop_duplicates(subset=["SN"]))
unique_players_df #TODO:: REMOVE BEFORE SUBMITTING

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19

In [58]:
unique_player_count = len(purchase_data["SN"].unique())
unique_player_list = purchase_data["SN"].nunique()
player_count_total = pd.DataFrame({"Number of Players": [unique_player_count]})
player_count_total

   Number of Players
0                576

In [59]:
unique_items = len(purchase_data["Item ID"].unique())

In [60]:
average_price = (purchase_data["Price"].mean())
average_price_format = ("${:,.2f}".format(average_price))

In [61]:
number_of_purchases = len(purchase_data)

In [62]:
total_revenue = (purchase_data["Price"].sum())
total_revenue_format = ("${:,.2f}".format(total_revenue))

In [63]:
purchase_analysis_df = pd.DataFrame({"Unique Players": [unique_player_count], 
                                  "Unique Items": [unique_items], 
                                  "Average Price": [average_price_format], 
                                  "Number of Purchases": [number_of_purchases],
                                  "Total Revenue": [total_revenue_format]})
purchase_analysis_df

,Unique Players,Unique Items,Average Price,Number of Purchases,Total Revenue
0,576,183,$3.05,780,"$2,379.77"

In [64]:
gender_type_df = unique_players_df.groupby(["Gender"])
total_player_count = gender_type_df["Gender"].count()
total_player_fraction = gender_type_df["Gender"].count() / unique_player_count

In [65]:
gender_demographics = pd.DataFrame({"Total Count": total_player_count,
                                   "Percent of Players": (((total_player_fraction)*100))})
gender_demographics["Percent of Players"] = gender_demographics["Percent of Players"].map("{:.2f}%".format)

In [66]:
gender_demographics

                       Total Count Percent of Players
Gender
Female                          81             14.06%
Male                           484             84.03%
Other / Non-Disclosed           11              1.91%

In [67]:
df = pd.DataFrame(purchase_data)

In [68]:
purchases_gender_df = df.groupby(df["Gender"])[["Purchase ID"]].count()

In [69]:
ave_price_gender_df = df.groupby(df["Gender"])[["Price"]].mean()

In [70]:
total_revenue_gender_df = df.groupby(df["Gender"])[["Price"]].sum()
total_revenue_gender_df

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [71]:
total_revenue = all_data_df["Price"].sum()

total_revenue

2379.77

In [72]:
revenue_per_player = total_revenue / player_count_total
revenue_per_player

   Number of Players
0           4.131545

In [73]:
purchase_data = pd.read_csv(file_to_load)
all_data_df = pd.DataFrame(purchase_data)
dup_gender_df = all_data_df.groupby(["Gender"])

count = gender_type_df["Purchase ID"].count()
gender_purchase_analysis = pd.DataFrame({"Purchase Count":count})
gender_purchase_analysis

                       Purchase Count
Gender
Female                             81
Male                              484
Other / Non-Disclosed              11

In [84]:
purchase_data = pd.read_csv(file_to_load)
all_data_df = pd.DataFrame(purchase_data)
dup_gender_df = all_data_df.groupby(["Gender"])
count = gender_type_df["Purchase ID"].count()
gender_purchase_analysis = pd.DataFrame({"Purchase Count":count})

In [85]:
A1 = pd.read_csv(file_to_load)
a2_df = pd.DataFrame(A1)
a3_df = a2_df.groupby(["Gender"])
a4 = a3_df["Purchase ID"].count()
a5 = pd.DataFrame({"Purchase Count":a4})

a6 = a3_df["Purchase ID"].mean()

In [86]:
dup_gender_df = all_data_df.groupby(["Gender"])


count = gender_type_df["Purchase ID"].count()
a4 = a3_df["Purchase ID"].count()
a7 = all_data_df["Price"].mean()
mean = gender_type_df["Price"].mean()
total = gender_type_df["Price"].sum()
avgbygender = total/count

gender_purchase_analysis = pd.DataFrame({"Purchase Count":a4,
                     "Average Price": mean,
                     "Total Revenue": total,
                     "Average By Person": mean})

gender_purchase_analysis["Average Price"] = gender_purchase_analysis["Average Price"].map("${:.2f}".format)
gender_purchase_analysis["Total Revenue"] = gender_purchase_analysis["Total Revenue"].map("${:.2f}".format)
gender_purchase_analysis["Average By Person"] = gender_purchase_analysis["Average By Person"].map("${:.2f}".format)

gender_purchase_analysis

,Purchase Count,Average Price,Total Revenue,Average By Person
Gender,,,,
Female,113,$3.17,$256.43,$3.17
Male,652,$3.05,$1474.70,$3.05
Other / Non-Disclosed,15,$3.41,$37.52,$3.41

In [77]:
ave_price_gender_df = df.groupby(df["Gender"])[["Price"]].mean()
ave_price_gender_df.round(2)

                       Price
Gender
Female                  3.20
Male                    3.02
Other / Non-Disclosed   3.35

In [78]:
purchases_gender_df = df.groupby(df["Gender"])[["Purchase ID"]].count()

In [79]:
total_revenue_gender_df = df.groupby(df["Gender"])[["Price"]].sum()

In [80]:
pd.merge(purchases_gender_df, ave_price_gender_df, on="Gender")

                       Purchase ID     Price
Gender
Female                         113  3.203009
Male                           652  3.017853
Other / Non-Disclosed           15  3.346000

In [81]:
merged_1_2_df = pd.merge(purchases_gender_df, ave_price_gender_df, on="Gender",)

In [88]:
merged_1_2_3_df = pd.merge(merged_1_2_df, total_revenue_gender_df, on="Gender")

In [97]:
df = pd.merge(merged_1_2_3_df, mean, on="Gender")
df.columns = ["Transaction Count", "Average Price", "Total Revenue", "Average per Person"]

df["Average Price"] = df["Average Price"].map("${:.2f}".format)
df["Total Revenue"] = df["Total Revenue"].map("${:.2f}".format)
df["Average per Person"] = df["Average per Person"].map("${:.2f}".format)
df

,Transaction Count,Average Price,Total Revenue,Average per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.17
Male,652,$3.02,$1967.64,$3.05
Other / Non-Disclosed,15,$3.35,$50.19,$3.41

In [83]:

bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["age_group"] = pd.cut(all_data_df["Age"], bins, labels = group_names)
age_count=purchase_data["age_group"].value_counts()
percentage_players=(age_count/unique_player_list)*100
percent_players=purchase_data.groupby("age_group").count()
age_demographics = pd.DataFrame({"Total Counts": age_count, "Percentage of Players": percentage_players}).sort_index()

age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}%".format)
age_demographics

       Total Counts Percentage of Players
<10              23                 3.99%
10-14            28                 4.86%
15-19           136                23.61%
20-24           365                63.37%
25-29           101                17.53%
30-34            73                12.67%
35-39            41                 7.12%
40+              13                 2.26%