In [11]:
import pandas as pd
import numpy as np

file_to_load = "../resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [12]:
df = pd.DataFrame(purchase_data)

In [13]:
ave_price_gender_df = df.groupby(df["Gender"])[["Price"]].mean()
ave_price_gender_df.round(2)

                       Price
Gender
Female                  3.20
Male                    3.02
Other / Non-Disclosed   3.35

In [14]:
purchases_gender_df = df.groupby(df["Gender"])[["Purchase ID"]].count()
purchases_gender_df

                       Purchase ID
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15

In [15]:
total_revenue_gender_df = df.groupby(df["Gender"])[["Price"]].sum()
total_revenue_gender_df

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [16]:
pd.merge(purchases_gender_df, ave_price_gender_df, on="Gender")

                       Purchase ID     Price
Gender
Female                         113  3.203009
Male                           652  3.017853
Other / Non-Disclosed           15  3.346000

In [17]:
merged_1_2_df = pd.merge(purchases_gender_df, ave_price_gender_df, on="Gender",)
merged_1_2_df

                       Purchase ID     Price
Gender
Female                         113  3.203009
Male                           652  3.017853
Other / Non-Disclosed           15  3.346000

In [18]:
df  = pd.merge(merged_1_2_df, total_revenue_gender_df, on="Gender")
df.columns = ["Transaction Count", "Average Price", "Total Revenue"]
df

                       Transaction Count  Average Price  Total Revenue
Gender
Female                               113       3.203009         361.94
Male                                 652       3.017853        1967.64
Other / Non-Disclosed                 15       3.346000          50.19

In [20]:
all_data_df = pd.DataFrame(purchase_data)
dup_gender_df = all_data_df.groupby(["Gender"])


count = gender_type_df["Purchase ID"].count()
a4 = a3_df["Purchase ID"].count()
a7 = all_data_df["Price"].mean()
mean = gender_type_df["Price"].mean()
total = gender_type_df["Price"].sum()
avgbygender = total/count

gender_purchase_analysis2 = pd.DataFrame({
                     "Average By Person": mean})
df  = pd.merge(merged_1_2_df, total_revenue_gender_df, on="Gender")
df.columns = ["Transaction Count", "Average Price", "Total Revenue"]
gender_purchase_analysis2

NameError: name 'gender_type_df' is not defined