In [1]:
import pandas as pd
import numpy as np

file_to_load = "../resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [2]:
all_data_df = pd.DataFrame(purchase_data)

In [3]:
unique_players_df = pd.DataFrame(purchase_data.drop_duplicates(subset=["SN"]))

In [4]:
unique_player_count = len(purchase_data["SN"].unique())
player_count_total = pd.DataFrame({"Number of Players": [unique_player_count]})
player_count_total

   Number of Players
0                576

In [5]:
unique_items = len(purchase_data["Item ID"].unique())

In [6]:
average_price = (purchase_data["Price"].mean())
average_price_format = ("${:,.2f}".format(average_price))

In [7]:
number_of_purchases = len(purchase_data)

In [8]:
total_revenue = (purchase_data["Price"].sum())
total_revenue_format = ("${:,.2f}".format(total_revenue))

In [9]:
purchase_analysis_df = pd.DataFrame({"Unique Players": [unique_player_count], 
                                  "Unique Items": [unique_items], 
                                  "Average Price": [average_price_format], 
                                  "Number of Purchases": [number_of_purchases],
                                  "Total Revenue": [total_revenue_format]})
purchase_analysis_df

,Unique Players,Unique Items,Average Price,Number of Purchases,Total Revenue
0,576,183,$3.05,780,"$2,379.77"

In [10]:
gender_type_df = unique_players_df.groupby(["Gender"])
total_player_count = gender_type_df["Gender"].count()
total_player_fraction = gender_type_df["Gender"].count() / unique_player_count

In [11]:
gender_demographics = pd.DataFrame({"Total Count": total_player_count,
                                   "Percent of Players": (((total_player_fraction)*100).round(2).astype(str) + '%')})

In [12]:
gender_demographics

                       Total Count Percent of Players
Gender
Female                          81             14.06%
Male                           484             84.03%
Other / Non-Disclosed           11              1.91%

In [75]:
df = pd.DataFrame(purchase_data)

In [78]:
ave_price_gender_df = df.groupby(df["Gender"])[["Price"]].mean()

In [79]:
purchases_gender_df = df.groupby(df["Gender"])[["Purchase ID"]].count()

In [80]:
total_revenue_gender_df = df.groupby(df["Gender"])[["Price"]].sum()

In [81]:
pd.merge(purchases_gender_df, ave_price_gender_df.round(2), on="Gender")

                       Purchase ID  Price
Gender
Female                         113   3.20
Male                           652   3.02
Other / Non-Disclosed           15   3.35

In [82]:
merged_1_2_df = pd.merge(purchases_gender_df, ave_price_gender_df, on="Gender",)

In [83]:
df  = pd.merge(merged_1_2_df, total_revenue_gender_df, on="Gender")
df.columns = ["Transaction Count", "Average Price", "Total Revenue"]
df

                       Transaction Count  Average Price  Total Revenue
Gender
Female                               113       3.203009         361.94
Male                                 652       3.017853        1967.64
Other / Non-Disclosed                 15       3.346000          50.19