In [1]:
import pandas as pd
import numpy as np

file_to_load = "../resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)
all_data_df = pd.DataFrame(purchase_data)

# Player Count

In [2]:
# create dataframe and count for unique player names "SN" 
# for use when calculating by player as opposed to calculating by transaction

unique_players_df = pd.DataFrame(purchase_data.drop_duplicates(subset=["SN"]))
total_player_count2_df = pd.DataFrame(purchase_data) ["Gender"].count

unique_player_count = len(purchase_data["SN"].unique())
player_count_total = pd.DataFrame({"Number of Players": [unique_player_count]})
player_count_total

   Number of Players
0                576

# Purchasing Analysis (Total)

In [3]:
# create required variables and performed calculations
# Formatted results for easier reading
unique_items = len(purchase_data["Item ID"].unique())
average_price = (purchase_data["Price"].mean())
average_price_format = ("${:,.2f}".format(average_price))
number_of_purchases = len(purchase_data)
total_revenue = (purchase_data["Price"].sum())
total_revenue_format = ("${:,.2f}".format(total_revenue))

## create dataframe 
purchase_analysis_df = pd.DataFrame({"Unique Players": [unique_player_count], 
                                  "Unique Items": [unique_items], 
                                  "Average Price": [average_price_format], 
                                  "Number of Purchases": [number_of_purchases],
                                  "Total Revenue": [total_revenue_format]})
purchase_analysis_df

,Unique Players,Unique Items,Average Price,Number of Purchases,Total Revenue
0,576,183,$3.05,780,"$2,379.77"

# Gender Demographics

In [4]:
# create required variables and performed calculations
gender_type_df = unique_players_df.groupby(["Gender"])
total_player_count = gender_type_df["Gender"].count()
total_player_fraction = gender_type_df["Gender"].count() / unique_player_count

# create dataframe 
gender_demographics = pd.DataFrame({"Total Count": total_player_count,
                                   "Percent of Players": (((total_player_fraction)*100))}).sort_values(by=["Total Count"], ascending = False)

# used a different method for formatting results in dataframe
gender_demographics["Percent of Players"] = gender_demographics["Percent of Players"].map("{:.2f}%".format)
gender_demographics

                       Total Count Percent of Players
Gender
Male                           484             84.03%
Female                          81             14.06%
Other / Non-Disclosed           11              1.91%

# Purchasing Analysis (Gender)

In [5]:
# had to reload df (i think this is due to running cells in Jupyter)
df = pd.DataFrame(purchase_data)
# created variables and aggregated based on group (gender)
purchases_gender_df = df.groupby(df["Gender"])[["Purchase ID"]].count()
total_revenue_gender_df = df.groupby(df["Gender"])[["Price"]].sum()
purchases_gender_df = df.groupby(df["Gender"])[["Purchase ID"]].count()
ave_price_gender_df = df.groupby(df["Gender"])[["Price"]].mean()
mean = gender_type_df["Price"].mean()
total = gender_type_df["Price"].sum()

# merging dataframes in steps because i cant merge more than 2 at a time
merged_1_2_df = pd.merge(purchases_gender_df, ave_price_gender_df, on="Gender",)
merged_1_2_3_df = pd.merge(merged_1_2_df, total_revenue_gender_df, on="Gender")
df = pd.merge(merged_1_2_3_df, mean, on="Gender")
df.columns = ["Transaction Count", "Average Price", "Total Revenue", "Average per Person"]

# formatting results for dataframe
df["Average Price"] = df["Average Price"].map("${:.2f}".format)
df["Total Revenue"] = df["Total Revenue"].map("${:.2f}".format)
df["Average per Person"] = df["Average per Person"].map("${:.2f}".format)
df.sort_values(by = ["Transaction Count"], ascending = False)

,Transaction Count,Average Price,Total Revenue,Average per Person
Gender,,,,
Male,652,$3.02,$1967.64,$3.05
Female,113,$3.20,$361.94,$3.17
Other / Non-Disclosed,15,$3.35,$50.19,$3.41

# Age Demographics

In [6]:
# create bins for sorting
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# segment data based on age
unique_player_list = unique_players_df["SN"].nunique()
unique_players_df["age_group"] = pd.cut(unique_players_df["Age"], bins, labels = group_names)

# perform calculations
age_count = unique_players_df["age_group"].value_counts()
percentage_players = (age_count/unique_player_list)*100
percent_players = unique_players_df.groupby("age_group").count()

# create dataframe
age_demographics = pd.DataFrame({"Total Counts": age_count, 
                                 "Percentage of Players": percentage_players}).sort_index()

# format results in dataframe
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}%".format)
age_demographics

       Total Counts Percentage of Players
<10              17                 2.95%
10-14            22                 3.82%
15-19           107                18.58%
20-24           258                44.79%
25-29            77                13.37%
30-34            52                 9.03%
35-39            31                 5.38%
40+              12                 2.08%

# Purchasing Analysis (Age)

In [7]:
df = pd.DataFrame(purchase_data)

# create bins for sorting
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# segment data based on age
purchase_data["age_group"] = pd.cut(all_data_df["Age"], bins, labels = group_names)

# perform calculations
purchase_count = purchase_data["age_group"].value_counts()
total_purchase_value = df.groupby(df["age_group"])
total_purchase_value_ini = total_purchase_value["Price"].sum()
total_purchase_value_ser = total_purchase_value["Price"].mean()

In [8]:
# create dataframe
purchasing_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price": total_purchase_value_ser,
                                   "Total Purchase Value": total_purchase_value_ini,
                                    }).sort_index()

# format results in dataframe
purchasing_analysis["Average Purchase Price"] = purchasing_analysis["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis["Total Purchase Value"] = purchasing_analysis["Total Purchase Value"].map("${:.2f}".format)
    
purchasing_analysis

       Purchase Count Average Purchase Price Total Purchase Value
<10                23                  $3.35               $77.13
10-14              28                  $2.96               $82.78
15-19             136                  $3.04              $412.89
20-24             365                  $3.05             $1114.06
25-29             101                  $2.90              $293.00
30-34              73                  $2.93              $214.00
35-39              41                  $3.60              $147.67
40+                13                  $2.94               $38.24

# Top Spender

In [9]:
# group data by SN to perform price aggregations 
df_top_spend = df.groupby(["SN"])["Price"].count()
df_top_spend_total = df.groupby(df["SN"])["Price"].sum()
df_top_spend_mean = df_top_spend_total/df_top_spend

# create dataframe
top_spenders = pd.DataFrame({"Purchase Count": df_top_spend,
                            "Average Purchase Price": df_top_spend_mean,
                            "Total Purchase Value": df_top_spend_total}).sort_values(by="Total Purchase Value", ascending=False)

# format  dataframe
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:.2f}".format)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:.2f}".format)
top_spenders.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

# Most Popular Items

In [11]:
# retrieve required columns

df_most_popular = df.loc[:,["Item Name", "Item ID", "Price"]]



df_most_popular_count = df_most_popular.groupby(df_most_popular["Item ID"])["Item Name"].count()
df_most_popular_total_value = df_most_popular.groupby(df_most_popular["Item ID"])["Price"].sum()
df_most_popular_price = df_most_popular_total_value / df_most_popular_count

# create dataframe
most_popular = pd.DataFrame({"Purchase Count": df_most_popular_count,
                             "Item Price": df_most_popular_price,
                             "Total Purchase Value": df_most_popular_total_value,
                             })

most_popular = most_popular.sort_values(by="Purchase Count", ascending=False)
# format results
most_popular["Item Price"] = most_popular["Item Price"].map("${:.2f}".format)
most_popular["Total Purchase Value"] = most_popular["Total Purchase Value"].map("${:.2f}".format)
most_popular.head(5)

         Purchase Count Item Price Total Purchase Value
Item ID
178                  12      $4.23               $50.76
145                   9      $4.58               $41.22
108                   9      $3.53               $31.77
82                    9      $4.90               $44.10
19                    8      $1.02                $8.16

# Most Profitable Items

In [13]:
# create same dataframe with new name for altered sorting 
most_profitable = pd.DataFrame({
                             "Purchase Count": df_most_popular_count,
                             "Item Price": df_most_popular_price,
                             "Total Purchase Value": df_most_popular_total_value}).sort_values(by="Total Purchase Value", ascending=False)

# format results
most_profitable["Item Price"] = most_profitable["Item Price"].map("${:.2f}".format)
most_profitable["Total Purchase Value"] = most_profitable["Total Purchase Value"].map("${:.2f}".format)
most_profitable.head(5)

         Purchase Count Item Price Total Purchase Value
Item ID
178                  12      $4.23               $50.76
82                    9      $4.90               $44.10
145                   9      $4.58               $41.22
92                    8      $4.88               $39.04
103                   8      $4.35               $34.80